<div id='modal' {{#if name}} style="display: none" {{/if}}>
  <div>
    <h3>Чтобы продолжить, авторизуйтесь</h3>
    <input
      id='nameInput'
      class='dateSaveInput'
      placeholder='Введите свое имя'
      autocomplete='off'
    />
    <button id='saveUser'>Сохранить</button>
  </div>
</div>